<!doctype html>{% load staticfiles %}
<head>
  <title>Eventio</title>

    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body>
  <div class="container">
    <h1>Eventio</h1>
    <h2>Events List</h2>

  {% for event in events %}
  <div>
    <h3>{{ event.name }}</h3>
    <p>
      {% if event.capacity %}
        Capacity: {{ event.capacity }}
      {% endif %}
    </p>
    <p>
      {{ event.description }}</p>
    <dl>
      <dt>When:</dt>
      <dd>{{ event.start_time }}</dd>
      <dt>Where:</dt>
      <dd>{{ event.location }}</dd>
      <dt>Price:</dt>
        {% if event.price %}
      <dd>${{ event.price }}</dd>
        {% else %}
          FREE
        {% endif %}
    </dl>
  </div>
  {% endfor %}
</div>

</body>
